[submodule "frontend"]
	path = frontend
	url = git@github.com:akkaraju-satvik/AI-Knowledge-Inbox-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:akkaraju-satvik/AI-Knowledge-Inbox-backend.git
